name: Video Converter to MP4

on:
  push:
    paths:
      - 'uploads/**' # سيتم التفعيل عند إضافة فيديو في مجلد uploads

jobs:
  convert:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Convert Video
        run: |
          mkdir -p processed_videos
          for file in uploads/*.{mkv,avi,mov,flv,wmv,webm}; do
            if [ -f "$file" ]; then
              filename=$(basename "$file" | cut -f 1 -d '.')
              ffmpeg -i "$file" -codec copy "processed_videos/${filename}.mp4"
            fi
          done

      - name: Upload to Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: videos-collection
          files: processed_videos/*.mp4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
